configuration {
	modi: "drun,window,run,combi,filebrowser";
	show-icons: true;
	terminal: "alacritty";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
}

@theme "/usr/share/rofi/themes/Monokai.rasi"
